body {
font-family: Arial, Helvetica, sans-serif;
margin: 0%;
padding: 0%;
background-color: #cdd5d5e7;
}


.container {
    display: flex;
    gap: 10px;
    justify-content: space-between; /* Solda ve sağda öğeleri hizalar */
    padding: 20px;
    box-sizing: border-box;
    height: 100vh; /* Ekranın yüksekliği kadar*/ 
    margin-top: 0%;
    
    
}
    

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0%;
    
}
.right {
    flex: 1; /* Sağ bölüme tüm boş alanı verir */
    display: flex;
    flex-direction: column; /* Alt alta hizalar */
    justify-content: center; /* Öğeleri dikeyde ortalar */

}
.item {
    background-color: #cbd4d4;
    color: #2d3939;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(71, 68, 68, 0.607);
    

    
}
.image {
    max-width: 100%;
    max-height: auto;
    padding:50px;
    
}