body {
    margin: 0 ;
    padding: 0;
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;   
    
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    position: relative;
    @media (max-width: 600px) {
        .main-container {
            flex-direction: column; /* Dikey yerleşim */
            
        }
        }
    
}
.container {
    flex: 1 1 300px;
    background-color:white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.524) 0px 5px 15px;
    margin: 10px;
    padding: 10px;
    
    
    
}
.image-container {
    border-radius: 5px;
    text-align: center;
    position: relative;
    height: 200px;
    
    
}
.image-container img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.footer {
    background-color: #009688;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
    


}

/*
body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
background-color: white;
display: flex;
flex-direction: column;
min-height: 100vh;

}


.container {
    display: flex;
    gap: 10px;
    justify-content: space-between; 
    padding: 60px;
    box-sizing: border-box;
    height: 150vh; 
    margin-top: 0;
    padding-bottom: 0;
    
}

.footer {
display: flex;
}

.light-grey {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.small {
    font-size: 12px!important;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    
}

.right {
    flex: 1; 
    display: flex;
    flex-direction: column; 

}
.item {
    background-color: white;
    color: #2d3939;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(71, 68, 68, 0.607);
    font-size: small;
    flex: 1;
} 
    

.image-container{
    
    padding: 0px !important;
    margin: 0px !important;
    width: 200px;
    height: 300px;
    position: relative;
}
*/
.image {
    
    object-fit: contain;
    width: 100%;
    height: 90%;
    
   }

.image-title{
    
    font-size: 50px;
    bottom: 40px;
    right: 30px;
    position: absolute;
}

.h1 {
    font-size: 50px;
    

}
.h2 {
    font-size: 10px;
    opacity: 0.60;
}
.fa-solid {
    color: rgb(76, 139, 128);
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fa-regular {
    font-size: 10px;
    color: rgb(76, 139, 128);
}
.h3 {
    color: rgb(76, 139, 128);
}

.teal {
    color: #fff!important;
    background-color: #009688!important;
}
.center {
    text-align: center!important;
}

.progress-bar {
    width: 80%;
    background-color: lightgray;
    border-radius: 16px;
    position: relative;
    height: 25px;
    overflow: hidden;

}

.progress-a {
    height: 100%;
    background-color: #009688;
    position: relative;
}
.progress-b {
    height: 100%;
    background-color: #009688;
    position: relative;
}
.progress-c {
    height: 100%;
    background-color: #009688;
    position: relative;
}
.progress-d {
    height: 100%;
    background-color: #009688;
    position: relative;
}
.progress-e {
    height: 100%;
    background-color: #009688;
    position: relative;
}
.progress-f {
    height: 100%;
    background-color: #009688;
    position: relative;
}
.progress-g {
    height: 100%;
    background-color: #009688;
    position: relative;
}

.progress-a::after {
    content: "95%";
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;        
    font-weight: bold;
    line-height: 30px;
    pointer-events: none;
    }
.progress-b::after {
    content: "80%";
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;        
    font-weight: bold;
    line-height: 30px;
    pointer-events: none;
    }
.progress-c::after {
    content: "50%";
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;        
    font-weight: bold;
    line-height: 30px;
    pointer-events: none;
    }    
.progress-d::after {
    content: "30%";
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;        
    font-weight: bold;
    line-height: 30px;
    pointer-events: none;
    }
    .container-f {
        background-color: #009688;
        color: #fff;
        text-align: center;
        padding: 10px;
        width: 100%;
        position: relative;
        bottom: 0;
    }
    .footer {
        background-color: #009688;
        color: #fff;
        text-align: center;
        padding: 50px;
        width: 100%;
        position: relative;
        bottom: 0;

    }